build*/
cmake-build-*/
cache/
extern/
extern/SDL2-*
extern/SDL2.framework
dist/

# IDEs and OS-specific stuff
.vs/
.idea/
.DS_Store
*.user

# Build
.build/*
.swiftpm/*
*.o
*.obj
*.so
*.dll
*.exe
*.elf
*.map
*.3dsx
*.a
*.pica
*.bin
*.shbin

