[Desktop Entry]
Type=Application
Version=1.0
Name=Nanosaur 2
Comment=Nanosaur II: Hatchling
Icon=nanosaur2-desktopicon
Exec=Nanosaur2
Terminal=false
Categories=Game;
